@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #F3904F;

    --background: 25 56.55% 5.04%;
    --foreground: 35 62% 91%;

    --muted: 25 49.589999999999996% 15.120000000000001%;
    --muted-foreground: 25 8.7% 56.3%;

    --popover: 25 47.6% 8.19%;
    --popover-foreground: 25 8.7% 98.15%;

    --card: 25 47.6% 8.19%;
    --card-foreground: 25 8.7% 98.15%;

    --border: 25 49.589999999999996% 15.120000000000001%;
    --input: 25 49.589999999999996% 15.120000000000001%;

    --primary: 25 87% 63%;
    --primary-foreground: 25 8.7% 6.3%;

    --secondary: 25 49.589999999999996% 15.120000000000001%;
    --secondary-foreground: 25 8.7% 98.15%;

    --accent: 25 49.589999999999996% 15.120000000000001%;
    --accent-foreground: 25 8.7% 98.15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 25 8.7% 98.15%;

    --ring: 25 87% 63%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
  body {
    @apply bg-background text-foreground;
  }
  .screenMinHeight {
    min-height: 100dvh;
    min-height: 100vh; 
  }

  .nav-content-footer {
    min-height: calc(100vh - 11rem); 
  }

  .legal a {
    @apply underline;
  }
  .legal p {
    @apply my-2;
  }

  .legal h2 {
    @apply  my-2;
  }
  .legal h3 {
    @apply font-bold mt-3 mb-1;
  }

  .inserted-text {
    @apply bg-accent w-max rounded px-1 select-none text-sm;
  }
  h1, h2, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }
  
  .blog-h1 {
    @apply text-3xl;
  }
}


.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media print {
  @page {
    size: A4;
    margin: 0mm;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  display: inline-block;
  @apply bg-primary;
}



